<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>操作系统</string>
		<key>id</key>
		<integer>1</integer>
		<key>image</key>
		<string>操作系统.png</string>
		<key>icon</key>
		<string>Icon操作系统.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>考试认证</string>
		<key>id</key>
		<integer>2</integer>
		<key>image</key>
		<string>考试认证.png</string>
		<key>icon</key>
		<string>Icon考试认证.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>网络/安全</string>
		<key>id</key>
		<integer>3</integer>
		<key>image</key>
		<string>网络安全.png</string>
		<key>icon</key>
		<string>Icon网络安全.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>服务器</string>
		<key>id</key>
		<integer>4</integer>
		<key>image</key>
		<string>服务器.png</string>
		<key>icon</key>
		<string>Icon服务器.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>新技术</string>
		<key>id</key>
		<integer>5</integer>
		<key>image</key>
		<string>新技术.png</string>
		<key>icon</key>
		<string>Icon新技术.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>移动开发</string>
		<key>id</key>
		<integer>6</integer>
		<key>image</key>
		<string>移动开发.png</string>
		<key>icon</key>
		<string>Icon移动开发.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>开发技术</string>
		<key>id</key>
		<integer>7</integer>
		<key>image</key>
		<string>开发技术.png</string>
		<key>icon</key>
		<string>Icon开发技术.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数据库</string>
		<key>id</key>
		<integer>8</integer>
		<key>image</key>
		<string>数据库.png</string>
		<key>icon</key>
		<string>Icon数据库.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>其它</string>
		<key>id</key>
		<integer>9</integer>
		<key>image</key>
		<string>其它.png</string>
		<key>icon</key>
		<string>Icon其它.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>名校公开课</string>
		<key>id</key>
		<integer>10</integer>
		<key>image</key>
		<string>名校公开课.png</string>
		<key>icon</key>
		<string>Icon名校公开课.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>合作机构</string>
		<key>id</key>
		<integer>11</integer>
		<key>image</key>
		<string>合作机构.png</string>
		<key>icon</key>
		<string>Icon合作机构.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>直播公开课</string>
		<key>id</key>
		<integer>12</integer>
		<key>image</key>
		<string>直播公开课.png</string>
		<key>icon</key>
		<string>Icon直播公开课.png</string>
	</dict>
</array>
</plist>
